html {   
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;  
}

body {
    margin: 0;  
    min-height: 100vh;  
    color: rgb(23, 23, 23);
    background-color: black;
    display:flex; 
    flex-direction:column;
    overflow: hidden;
}

@font-face {
    font-family: 'witcher';
    src: url('./fonts/Thewitcher-jnOj.ttf') format('truetype'); 
} 

footer {
    position: absolute;
    bottom: 0;
    margin-left: 20px;
}

nav {
    color: white;
    margin-top: 15px;
    margin-left: 10px;
    line-height: 3rem;
}

.portada {
    background-image: url('./img/cavill-geralt.webp');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.serie {
    font-family: 'witcher';
    font-size: 7rem;
    color: white;
    margin-top: calc(65vh);
    margin-left: 30px;
}

.copyright {
    color: white;
    font-size: 0.8rem; /* 0,64 */
    margin-bottom: 5px; 
}

.texto-footer {
    margin-bottom: 10px; 
    font-size: 0.95rem;
    color: white;
}

.enlaces-footer a {
    padding-top: 2em;
    text-decoration: none;    
    color: white;
}


nav a {
    color: white;
    text-decoration: none;   
}

.menu-item {
    padding: 10px;    
    background-color: rgba(0,0,0,0.5);   
    border-radius: 5px;
    margin-right: 10px;
}

.menu-item:hover {
    color: #fff;
}

.selected {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    margin-right: 10px;
}

nav a:hover {
    background-color: rgb(222, 12, 23);    
}
.grid-personajes {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

}

.personaje {
    margin: 20px;
    width: 45%;
    aspect-ratio: 4/3;
    text-decoration: none;
}

.personaje-contenedor-img {
    background-color: aqua;
    height: 100%; 
    width: 100%;
}

a h3 {
    color:white;
    margin-bottom: 5px
}

.personaje-img {
    object-fit: cover;
    width:100%;
    height:100%;
    opacity: 0.9;
}

.personaje-img:hover {
    opacity: 1;
}

.personaje-texto {
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}


@media (min-width: 1300px) {
    .portada {
        background-image: url('./img/the_witcher1.jpg');
        background-position: right top;
    }
}

@media (max-width: 1024px) {
   
    
    
} 

@media (max-width: 680px) {
    .serie {
        font-size: 5rem; 
    }
    .personaje {
       
        width: 90%;
        
    }
}

@media (max-width: 400px) {
    .serie {
        font-size: 3rem; 
    }
    .personaje {
       
        width: 90%;
        
    }
}



@media (max-height: 580px) {
    .serie {
        font-family: 'witcher';
        font-size: 5rem;
        color: white;
        margin-top: calc(40vh);
        margin-left: 30px;
    }
    
}

@media (max-height: 290px) {
    .serie {
        font-family: 'witcher';
        font-size: 4rem;
        color: white;
        margin-top: calc(20vh);
        margin-left: 30px;
    }
    
}

@media (max-height: 190px) {
    footer {
        display: none;
    }
    
}



/* a {
    color: rgb(23,23,23);
    text-decoration: underline;
    text-decoration-style: dotted;
}

a:hover {    
    text-decoration: underline;
    text-decoration-style: dotted;
    color: rgb(222, 12, 23);
    text-decoration-color: rgb(222,12,23);
}

.container {
    width: 840px;
    margin-left: auto;
    margin-right: auto;    
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.imagen-fondo {
    height: 100vh;
    background-image: url('./img/the_witcher1.jpg');
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    overflow: hidden;
}

nav {
    margin-top: 12px;
    font-size: 1.1rem;   
    color:white; 
}

nav a {
    color: white;
    text-decoration: none;    
}

.menu-item {
    padding: 3px;       
}

.menu-item:hover {
    color: #fff;
}

.selected {
    font-weight: 700;
}

nav a:hover {
    background-color: rgb(222, 12, 23);    
}

.separador-pipe::after {
    content: '|';
}

main {   
    font-weight: 700;
    padding-bottom: 70px;    
}

.logo {
    display: flex;
    align-items:center; 
}

.isoelec {
    margin-top: 20px;
}

.ritmo {
    font-size: 7.8rem;    
    color: white;
    margin-left: 12px;    
}

.club {
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
    letter-spacing: 0.011em;
    margin-top: -8px;
}
*/

/* 
.header {
    background-color: black;
    height: 115px;
    padding-top: 20px;
    margin-bottom: 35px;
}

.isoelec-header {
    width: 20px;
    margin-top: 8px;
}

.ritmo-header {
    color: white;
    margin-left: 10px;
    font-size: 2.4rem;
    font-weight: 700;
}

article {
    flex: 1;
}


h1,h2 {
    font-weight: 700;
    
}

ul {
    padding-inline-start: 25px;
}

li {
    margin-bottom: 1rem;
}

p {
    line-height: 1.3rem;
    font-weight: 400;    
}

p > a {
    color: rgb(23,23,23);
    text-decoration: underline;
    text-decoration-style: dotted;
}

p > a:hover {
    color: rgb(222,12,23);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgb(222,12,23);;
}

.cita {
    font-size: 0.8rem;
}



.lema {
    background-color: rgba(0,0,0,0.1);
    font-size: 1.8rem;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
    margin-top: 4px;
    margin-bottom: 24px;
}

.lema div {
    font-size: 0.9rem;
    margin-top: 4px;    
    font-weight: 250;
}

caption {
    margin-bottom: 5px;
    border-bottom: 1px solid #bbb;
}

table {
    width: 100%;      
    border-collapse: collapse;
    border-spacing: 0;
}
thead {       
    border-bottom: 1px solid #bbb;        
}

th[scope=col] {
    font-weight: 400;
    text-align: center;
    padding-bottom: 8px;
}

th[scope=row] {
    font-weight: 700;
    text-align: left;    
    font-size: 1.2rem;
    padding: 8px;
}

.left {
    text-align: left!important;
}

td {
    text-align: center;
    font-size: 0.9rem;
}

tbody tr:nth-child(odd){
    background-color: rgba(0,0,0,0.1);
    color: rgb(23,23,23);
  }

td > div > div > img {
    max-width: 24px;
}

table {
    margin-top: 24px ;
}

table > caption {
    border-top: 1px solid #bbb;
    font-size: 1.2rem;
    padding: 3px;    
}

.img-header {
    max-height: 20px;
}

td > div {
    margin-top: 4px;
    margin-bottom: 3px;
}

tfoot {
    border-bottom: 1px solid #bbb;
}

tfoot > tr > td {
    text-align: left;
    padding: 8px;
    font-size: 0.8rem;    
}

.border-inf {
    border-bottom: 1px solid #bbb;
    padding-bottom: 8px;
    
}

.container2 {
    width: 740px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;    
}

fieldset {
    padding: 27px;
    margin-bottom: 14px;
    padding-bottom: 25px;
    border-color: #aaa;
    border-width: 1px;
}

legend {
    font-weight: 700;
    font-size: 1.2rem;
}

form > p {
    font-size: 0.8rem;
    margin-bottom: 14px;
}

.dos-col {
    display: flex;
    gap: 20px;
}
.col {
    flex: 1;
    width: 100%;    
}
input[type=text], select {
    box-sizing:border-box;
    width: 100%;    
    padding: 10px;
    margin-bottom: 13px;
}

select {   
    background-color: white;
    border: 1px solid #ccc;
}

label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.radio {
    margin-bottom: 12px;
}

.radio label {
    display: inline;
    font-size: 0.9rem;
}

textarea {
    width: 100%;
    height: 180px;
    box-sizing:border-box;
    margin-bottom: 18px;
}

.container3 {
    width: 680px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;    
}

input[type=submit] {
    display: block;
    margin-top: 16px;
    background-color: rgb(222, 12, 23);
    color: #fff;
    padding: 10px 22px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.required::after {
    content: ' *';
} 
 */
